.wrap {
  width: 500px;
}

.title {
  font-size: 15px;
  margin-bottom: 15px;
}

.form-item {
  margin-bottom: 15px;
}

.form-item label {
  display: flex;
  align-items: center;
}

.form-item input {
  flex: 1;
  margin-left: 5px;
}
