body {
  margin: 8px;
}

.block-mobile {
  width: auto;
}

#wrap {
  font-family:
    "Helvetica Neue",
    Helvetica,
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "微软雅黑",
    Arial,
    sans-serif;
  -webkit-user-select: none;
  position: relative;
  width: 400px;
}

#message-wrap {
  text-align: center;
}

#message-box {
  font-size: 15px;
  line-height: 28px;
  margin-right: 10px;
}

#click-refetch {
  margin: 0;
  vertical-align: bottom;
}

details:first-child {
  margin-top: 8px;
  border-top: 1px solid #465f78;
}

summary {
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #465f78;
  position: relative;
}

.group-del {
  margin: 0;
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  transform: translateY(-50%);
  display: none;
}

summary:hover .group-del:not(.hidden) {
  display: block;
}

.repos-item {
  position: relative;
  font-size: 13px;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 0;
}

.repos-item:last-child {
  border-bottom: 1px solid #465f78;
}

.repos-item .repos-do {
  margin: 0;
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  transform: translateY(-50%);
  display: none;
}

.repos-item:hover {
  background-color: #46637f;
}

.repos-item:hover .repos-do {
  display: block;
}

.repos-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.repos-updatedat {
  flex: 1;
  text-align: right;
}

#dialog-wrap {
  min-width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: #2c3e50;
  border: 1px solid #465f78;
  border-radius: 5px;
  padding: 5px;
}

#dialog-wrap > div:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid #465f78;
  font-size: 14px;
}

#add-group,
#group-wrap > div {
  padding: 5px 0;
  cursor: pointer;
  font-size: 13px;
}

#add-group:hover,
#group-wrap > div:hover {
  background-color: #46637f;
}

#add-group-warp {
  display: none;
  font-size: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

#add-group-warp .input input {
  vertical-align: top;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
