.wrap {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-user-select: none;
  width: 400px;
}

.message-wrap {
  text-align: center;
}

#message-box {
  font-size: 15px;
}

#click-refetch {
  vertical-align: bottom;
}

details {
  margin-top: 8px;
  margin-bottom: -8px;
}

summary {
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.repos-item {
  font-size: 13px;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 0;
}

.repos-item:hover {
  background-color: #eee;
}

.repos-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.repos-updatedat {
  flex: 1;
  text-align: right;
}
